:root {
    --swiper-theme-color: #42567A;
}
.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
}

/*не разобрался какой именно класс нужен, но работает*/
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 32px;

}