.titleBlock {
    @if $PLATFORM == "desktop" {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    position: relative;
    top: 170px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    font-size: 56px;
    line-height: 120%;
    color: #42567a;
    //border: 1px solid #42567a;
    width: 431px;

    @if $PLATFORM == "mobile" {
        width: 123px;
        top: 59px;
        left: 20px;
        font-size: 20px;
    }
}

.title {
    margin-left: 78px;
    width: 353px;
    height: 134px;

    @if $PLATFORM == "mobile" {
        margin-left: 0;
        width: 123px;
        height: 48px;
    }
}
