.navBlock {
    position: absolute;
    width: 120px;
    height: 88px;
    left: 80px;
    z-index: 999;
    //border: 1px solid black;
    @if $PLATFORM == "desktop" {
        top: 697px;
    }

    @if $PLATFORM == "mobile" {
        width: 58px;
        height: 49px;
        bottom: 13px;
        left: 20px;
    }
}

.counter {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    color: #42567a;
    @if $PLATFORM == "mobile" {
        font-size: 14px;
    }
}

.buttons {
    position: absolute;
    bottom: 1px;
    display: flex;
    gap: 20px;
    @if $PLATFORM == "mobile" {
        gap: 8px;
    }

    button:last-child {
        transform: scaleX(-1);
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #42567a80;
        background: white;
        @if $PLATFORM == "mobile" {
            width: 25px;
            height: 25px;
        }

        &:hover {
            box-shadow:
                0 4px 10px rgba(0, 0, 0, 0.05),
                0 10px 40px rgba(0, 0, 0, 0.1);
        }

        &:disabled {
            opacity: 0.5;
        }
    }
}
